body {
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

body, input {
    font-size: 10pt;
    font-family: sans-serif;
    color: black;
    border: 1pt solid black;
    padding: 0;
}


.menu1 {
    position: absolute;
    width: 240pt;
    left: 4pt;
    top: 22pt;
}

.top {
    position: absolute;
    left: 4pt;
    top: 0;
    right: 0;
    height: 20pt;
}

.top input {
    background-color: #AAAAAA;
    height: 16pt;
    margin-top: 2pt;
    float: left;
    display: block;
    margin-right: 4pt;
    width: 77pt;
}

.top input:hover {
    background-color: #CCCCCC;
}

.top input:active {
    background-color: #888888;
}



.top a, .top a:active, .top a:hover, .top a:visited {
    color: blue;
    text-decoration: none;
    display: block;
    float: left;
    height: 16pt;
    margin-top: 4pt;
    margin-left: 1pt;
    overflow: hidden
}

.top a:hover {
    text-decoration: underline;
}

.mainview {
    position: absolute;
    top: 22pt;
    left: 248pt;
    bottom: 5pt;
    right: 5pt;
}

canvas {
    background-color: black;
}

h3 {
    font-size: 100%;
    font-weight: bolder;
    color: black;
    margin: 0;
    padding: 4pt;
}

.firstThing, .secondThing, .cuts {
    border: 1pt solid black;
    margin-bottom: 4pt;
}

.firstThing {
    background-color: #FF5240;
}

.firstThing h3 {
    background-color: #BF3D30;
}

.secondThing {
    background-color: #37B6CE;
}

.secondThing h3 {
    background-color: #206876;
}

.cuts {
    background-color: #FF9D40;
}

.cuts h3 {
    background-color: #BF7630;
}

.controls {
    margin: 5pt;
}


.hints {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
//    display: none;
    z-index: 1;
    background-color:rgba(0,0,0,0.7);
    display: none;
}

.hints .hints_inner {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    background-color: white;
    border: 1pt solid black;
    padding: 10pt;
    overflow: auto;
    /*http://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 6px 6px 10px 0px rgba(94,94,94,1);
    -moz-box-shadow: 6px 6px 10px 0px rgba(94,94,94,1);
    box-shadow: 6px 6px 10px 0px rgba(94,94,94,1);
}

.controls input, .controls select {
    background-color: #FFFFFF;
    color: black;
    border: 1pt solid black;
    padding: 0;
    height: 14pt;
    margin: 1pt;
}

.controls input:hover, .controls select:hover {
    background-color: #DDDDDD;
}


.controls label {
    display: inline-block;
    width: 20pt;
}

.position, .rotation, .scale {
    width: 98pt;
}

.objtype {
    width: 224pt;
}

.cut {
    width: 64pt;
}

#addcut {
    float: right;
    display: block;
    margin-top: -1pt;
}

.controls .plusminusbutton {
    background-color: #CCC;
    width: 24pt;
}

.controls .removebutton {
    background-color: #FF0000;
    width: 24pt;
}

.controls .removebutton:hover {
    background-color: #f44;
}

input:focus, select:focus {
    border-color: #FF00AA;
}
